.news_block{
    width: 60vw;
    height: 20vw;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    border: 3px solid green;
    margin: 15px;
}

.news_block-text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40vw;
    height: 20vw;
}
.news_block-icon{
    background-size: 110%;
    background-position: 50% 50%;
    width: 20vw;
    height: 20vw;
}
.news_block-icon_1{
    background-image: url(image/news1.png);
}

.news_block-text_head{
    font-size: 24px;
}

.news_block-text_foot{
    font-size: 16px;
}